{{ define "search" }}{{ template "head" . }}
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-lg-offset-1">
					<h2>Search</h2>
				</div>
			</div>
{{ if .Users }}
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-lg-offset-1">
					<h2>Users:</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-lg-offset-1">
					<ul class="list-group">
	{{ range .Users }}
		{{ with . }}
						<a href="/u/{{ .Username }}" class="list-group-item">{{ .Username }}</a><!-- don't show buttons for outside user -->
		{{ end }}
	{{ end }}
					</ul>
				</div>
			</div>
{{ end }}
{{ if .Peeves }}
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-lg-offset-1">
					<h2>Pet Peeves:</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-lg-offset-1">
					<ul class="list-group">
	{{ range .Peeves }}
		{{ with . }}
						<a href="/u/{{ .Username }}" class="list-group-item">{{ .Body }}</a>
		{{ end }}
	{{ end }}
					</ul>
				</div>
			</div>
{{ end }}
{{ template "foot" . }}{{ end }}
