{{ define "user" }}
{{ template "head" }}
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-lg-offset-1">
					<div class="row">
						<div class="col-sm-12">
							<h2>Pet Peeves</h2>
						</div>
					</div>
					{{ if .Error }}
					<div class="row">
						<div class="col-sm-12">
							<div class="alert alert-danger" role="alert">
								{{ .Error }}
							</div>
						</div>
					</div>
					{{ end }}
					<form class="row" method="POST" enctype="multipart/form-data">
						<div class="col-sm-12">
							<ul class="list-group">
								<li class="list-group-item">
									<span class="input-group">
										<input type="text" class="form-control" name="body" id="body" autocomplete="off" placeholder="What Annoys You?">
										<span class="input-group-btn">
											<button type="submit" class="btn btn-default">Send</button>
										</span>
									</span>
								</li>
								{{ if .Peeves }}
								{{ range .Peeves }}{{ with . }}
								<li class="list-group-item">{{ .Body }}</li>
								{{ end }}{{ end }}
								{{ end }}
							</ul>
						</div>
					</form>
				</div>
			</div>
{{ template "foot" }}
{{ end }}
